/* Global Styling here */

body {
    font-family: 'Roboto', sans-serif;
}

:focus {
    outline:0 !important;
    box-shadow: none !important;
}

svg {
    height: 100%;
    width: 100%;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}

.eventCardImageBox {
    position: relative;
}

.eventCardImageLike {
    position: absolute !important;
    top: 12px !important;
    right: 12px !important;
}

.horizontal-scroll {
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    display: inline-block;
    display: -webkit-inline-box;
}

.horizontal-scroll::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    height: 0;
}

.horizontal-scroll > div {
    scroll-snap-align: start;
    margin: 0 12px;
}

@media screen and(max-width: 1199px) {
    .horizontal-scroll > div {
        margin: 0 24px;
    }
}